## backend
APP_CONTAINER_NAME=
APP_PORT=3000
NODE_ENV=development
APP_CPU_LIMIT=0.50
APP_MEM_LIMIT=512M

## PostgreSQL
DB_CONTAINER_NAME=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_LOCAL=
DB_CPU_LIMIT=0.50
DB_MEM_LIMIT=512M

JWT_SECRET=
EXPIRES_IN=1h

API_KEY=123456789abcdef
